*{
    width: 100%;
    padding:0;
}
body{
    width: 85%;
    
    align-items: center;
}
.all{
   
    width: 100%;
    margin-left: 10%;
    align-items: center;
    /* margin-right: 10%; */
    
    
}
.top_class{
    display: flex;
    flex-direction: row;
    width:100%;
   
}

.top_text1{
    margin-right: 0%;
    width: 100%;
    background-color: white;
    text-align:center;
    margin-left:-20%;
    color: rgb(6, 138, 208);
    font-size: 20px;
    display: flex;
    flex-direction: column;

}
.topnav {
    background-color: rgb(250, 250, 250);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-right: 0;
    /* border: #eeebeb;
    border-style: inset; */
    
    
  }
  
  .topnav a {
    padding-top: 2%;
    padding-bottom: 2%;
    float: center;
    color: rgb(6, 138, 208);
    text-align: center;
    /* padding: 14px 16px; */
    text-decoration: none;
    font-size: 20px;
    /* border: #f2f2f2;
    border-style: inset; */
    
    
    
  }
  
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
 
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
header{
    align-self: center;
    width: 100%;
    background:linear-gradient(135deg,rgb(15, 61, 88),rgb(14, 223, 246));
    
    background-repeat: no-repeat;
    background-size:100%;
    padding-bottom: 4.5%;
    
    
}
.top{
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    align-content: center;
    
}
.titel{
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin-top: 10%;
    margin-left: 10%;
    color: aliceblue;
    font-size: 20px;
    
}
.image {
    width: 25%;;
    height: 1px;
    padding-right: 15%;
}
main{
    width: 100%;
    color: gray;
    text-align: center;
    align-content: center;
    margin-left: 10%;
    margin-right: 0;
    

}
.text_line{
    text-align: center;
    width: 78%;
    display: flex;
    flex-direction: column;
    padding-left: 2%;
    padding-right: 2%;

}
#t3{
    color: black;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 20px;
}
#t4{
    padding-bottom: 2%;
}
.fly_boxs{
    display: flex;
    flex-direction: row;
    max-width: 100%;
   
}
.block1{
    text-align: center;
    color: rgb(0, 0, 0);
    background: linear-gradient(rgb(238, 233, 233),rgb(238, 233, 233));
    height: 200px;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding-bottom: 12%;
}
.block2{
    text-align: center;
    color: rgb(0, 0, 0);
    background: linear-gradient(rgb(238, 233, 233),rgb(238, 233, 233));
    height: 200px;
    width: 19%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2%;
    margin-right: 2%;
    padding-bottom: 12%;
}
.block3{
    text-align: center;
    color: rgb(0, 0, 0);
    background: linear-gradient(rgb(238, 233, 233),rgb(238, 233, 233));
    height: 200px;
    width: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2%;
    padding-bottom: 12%;
}

#m{
    padding-top:15%;
    padding-bottom: 25%;
    height: 100%;
    width: 50%;
}
.block2 #m{
    padding-bottom: 30%;
}
.block3 #m{
    padding-bottom: 35%;
}
.bottom{
    align-self: center;
    width: 100%;
    background:linear-gradient(135deg,rgb(15, 61, 88),rgb(14, 223, 246));    
    background-repeat: no-repeat;
    background-size:100%;      
    display: flex;
    flex-direction: row;
    
}
.block1:hover,.block2:hover,.block3:hover{
    cursor: pointer;
    background-color:linear-gradient(green);
}
.user_image{ 
    height: 100%;
    width: 50%;
}
.text2{
    font-size: 22px;
    margin-left: 2%;
    text-align: justify;
    margin-right: 1%;
}
.boxing{
    
        box-sizing: border-box;
        
        width: 100%;
      
}
.slideshow{
    position: relative;
    padding-top: 30%;
    
    
}
.myslide{
    display: block;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  
  color: rgb(11, 11, 11);
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  background-color: rgb(93, 78, 55);
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(172, 13, 13, 0.8);
  }
  .myslide{
    color: black;
    font-size: 15px;
    
    position: absolute;
    top: 0;
    background-color: white;
    text-align: center;
  }
  .footer{
    background-color:transparent;
  }
  .contacts{
    padding-top: 2%;
    background-color: rgb(28, 25, 25);
    color:white;
    display: flex;
    padding-left: 8%;
    width: 90%;
    padding-right: 2%;
    height:260px;
  }
  .c1{
    display: flex;
    flex-direction: column;
    width: 100%;
   
  }
  .c1 label[name="la1"]{
    font-size: x-large;
    width: 100%;
  }
  .c1 label[name="la2"]{
    color: rgb(225, 214, 214);
    cursor: auto;
    width: 100%;
    font-size: medium;
  }
  a{
    color:rgb(225, 214, 214);
  text-decoration: none;
  width: 100%;
  }
  